/vendor
/node_modules
/public/storage
/public/js/vendor
/public/RoryTest
/public/assets/.sass-cache
/public/assets_backup
/public/blog
Homestead.yaml
Homestead.json
.env
.env.example
*.swp
*.zip
public/temp
config.js
*.sql
/.idea
/composer.phar
temp.txt
*.bak
.DS_Store
config/services.php
config/session.php
/app/Providers/AppServiceProvider.php
/storage/*
database/migrations/2014_10_12_000000_create_users_table.php
database/migrations/2014_10_12_100000_create_password_resets_table.php
database/migrations/2015_02_03_180720_create_locales_table.php
database/migrations/2015_02_03_180721_create_translations_table.php
database/migrations/2016_06_17_165554_create_listings_table.php
database/migrations/2016_06_17_170952_listings.php
