/vendor
/node_modules
/public/storage
/public/js/vendor
/public/assets/.sass-cache/
/public/assets/assets_backup/
Homestead.yaml
Homestead.json
.env
.env.example
*.swp
*.zip
public/temp
config.js
*.sql
/.idea